@import "./common.scss";

.App {
    width: 80%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1398px;
    font-family: $fontSansSerif;
    @media screen and (max-width:900px) {
        & {
            width: 100%;
            margin: 0;
        }
    }
}
