@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Roboto:300,400,900');

$fontSerif: 'Playfair Display', serif;
$fontSansSerif: 'Roboto', sans-serif;
$commonGreen: #697A21;
