@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Roboto:300,400,900');

$fontSerif: 'Playfair Display', serif;
$fontSansSerif: 'Roboto', sans-serif;
$commonGreen: #44af69;
$lighterGreen: #7BAE7F;
$darkerGreen: #546D51;
$fontCol:#686868;
