@import "./common.scss";
$personCardBgrClr: white;
$infoCardExpandedBgrClr: rgba(black, 0.7);
$closeButtonClr: #FF3C38;

$trendingDwnClr: #E87A7A;
$trendingUpClr: #9EBA7F;
$trendingFlatClr: #FCD367;

@keyframes slideInFromLeft {
    0% {
        transform: scale(0);
    }

    100% {
        transform: translateY(1);
    }
}

.infoCardExpandedBgr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $infoCardExpandedBgrClr;
    z-index: 9;
    overflow: hidden;
}

.infoCardExpanded {
    background: $personCardBgrClr;
    /*transition: width 1s, height 1s;*/
    animation: 250ms ease-out 0s 1 slideInFromLeft;
    /*padding:5px;*/
    margin: 15px;
    overflow: auto;
    width: 68%;
    height: 90%;
    min-height: 300px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    @media screen and (max-width: 650px) {
        & {
            height: 100%;
            margin: 0;
            width: 100%;
        }
    }

    hr {
        width: 70%;
        transition: 0.3s;
        border-color: $commonGreen;
    }

    .infoCardExpandedColumn {
        display: flex;
        // flex-flow: row wrap;
        margin: 20px;
        margin-top:0;
        @media screen and (max-width: 1200px) {
            & {
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items:center;
                > * {
                    margin-top: 10px;
                }
            }
        }
    }

    .bgrImgExpanded {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        border-radius: 50%;
        flex-grow: 0;
        @media screen and (max-width: 650px) {
            & {
                flex-basis: auto;
                margin-bottom: 10px;
            }
        }
    }

    .biographyText {
        position: relative;
        font-family: $fontSansSerif;
        color: $fontCol;
        flex-grow: 0;
        margin-left: 10px;
        align-self: center;
        width: 60%;
        flex-basis: auto;
        @media screen and (max-width: 650px) {
            & {
                width: 100%;
            }
        }
    }

    .biographyName {
        font-family: $fontSansSerif;
        color: Black;
        font-size: 2em;
        flex-grow: 1;
        flex-basis: auto;
        .listMove{
            border-radius: 50%;
            font-size:0.8em;
            vertical-align:middle;
            transition:all 500ms;
        }
        #trending_up{
            color:$trendingUpClr;
            background:lighten($trendingUpClr, 20%);
            border: 3px solid lighten($trendingUpClr, 20%);
        }
        #trending_down{
            color:$trendingDwnClr;
            background:lighten($trendingDwnClr, 20%);
            border: 3px solid lighten($trendingDwnClr, 20%);
        }
        #trending_flat{
            color:$trendingFlatClr;
            background:lighten($trendingFlatClr, 20%);
            border: 3px solid lighten($trendingFlatClr, 20%);
        }

        .listMove:hover{
            transform:rotate(360deg);
        }
    }

    button{
      background:none;
      color: rgba(0, 0, 0, 0.54);
      margin:10px;
      font-style:$fontSansSerif;
      .material-icons.md-36 { font-size: 36px; }
      border:none;
      position:relative;
      align-self:center;
      span{
        overflow:hidden;
      }
      &:hover{
          color:$trendingUpClr;
      }
      &:active{
          background:$darkerGreen;
      }
      @media screen and (max-width: 650px) {
          & {
              float:center;
          }
      }
    }

    .btnForward{
        float:right;
    }

    .closeButton {
        line-height: initial;
        height: fit-content;
        transition: all 250ms ease-out;
        border-radius: 50%;
        float:right;
        font-size: 36px;
        margin:10px;
        &:hover {
            color: $closeButtonClr;
            transform: rotate(90deg);
            border: 1px solid $closeButtonClr;
            border-radius: 50%;
        }
        @media screen and (max-width: 650px) {
            & {
                right: 8%;
                top: 3%;
            }
        }
    }
}
