@import "./common.scss";

.filterBox {
    font-size: 2em;
    font-family: $fontSerif;
    font-weight: 900;

    select {
        display: inline-block;
        border: 0;
        outline:none;
        border-radius: 5px;
        margin:2px;
        border-bottom: 2px solid $commonGreen;
        width: 250px;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        background:#E3E6D6;
        option{
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
        }
    }
    .searchArea{
        padding-left:20px;
    }

    input {
        @extend select;
    }

    ul {
        list-style-type: none;
        font-size: 1em;
    }
}

.foundNothing {
    font-size: 2em;
}
