@import "./common.scss";

$bgColor: #44af69;

.filterBox {
    background: $bgColor;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width:900px) {
        & {
            width:auto;
            border-radius:0;
        }
    }
    .filter{
        margin-top:10px;
    }
    .jury{
        margin-top:10px;
        button{
            box-sizing: border-box;
            background: #F7F5F5;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            padding: 5px;
            margin:4px;
            border:none;
            border-left:5px solid #9EE493;
            cursor:pointer;
            &:hover{
                border-left:5px solid #FF3C38;
            }
        }
    }
    .info{
        margin:4px;
        color: #9EE493;
    }
}

.searchBar {
    width:100%;
    flex: 0 0;
    align-self: center;
    margin:4px;
    padding:0;
    position:relative;
    .material-icons{
        vertical-align:middle;
        position: absolute;
        pointer-events: none;
        left:  8px;
        right: 0px;
        color:$bgColor;
    }
    input {
        width: 100%;
        box-sizing: border-box;
        background: #F7F5F5;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 5px;
        border:none;
        border-left:5px solid #9EE493;
        padding-left:  30px;
        @media screen and (max-width:900px) {
            & {
                width:90%;
                border-radius:0;
            }
        }
    }
}

.selectBar{
    margin:4px;
    position:relative;
    width:100%;
    .material-icons{
        vertical-align:middle;
        position: absolute;
        pointer-events: none;
        left:  8px;
        right: 0px;
        color:$bgColor;
    }
    select{
        width: 100%;
        box-sizing: border-box;
        background: #F7F5F5;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 5px;
        border:none;
        border-left:5px solid #9EE493;
        padding-left: 30px;
    }
}

.foundNothing {
    font-size: 2em;
}
