@import "./common.scss";

.introText{
    display:flex;
    flex-direction: column;
    padding:20px;
    max-width:900px;
    width:90%;
    font-family: $fontSerif;
    h1{
        margin: auto;
        margin-bottom:20px;
    }

    p{
        white-space: pre-wrap;
    }
}
